.header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  background-color: #3E705A;
}

.header-button-products {
  border: none;
  align-self: center;
  height: 50px;
  width: 140px;
  background-color: #55a38b;
}

.header-button-pedidos {
  border: none;
  align-self: center;
  height: 50px;
  width: 140px;
  background-color: #3E705A;
  color: white;
}

.header-button-name {
  border: none;
  align-self: center;
  height: 50px;
  width: 120px;
  background-color: #1e0057;
  color: white;
}

.header-button-logout {
  border: none;
  align-self: center;
  height: 50px;
  width: 120px;
  background-color: #002d82;
  color: white;
}
