body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-img {
  height: 60px;
}

.btn-carrinho {
  top: 0;
  right: 0;
  position: fixed;
  margin-top: 15px;
  margin-right: 40px;
}

.display-value {
  top: 0;
  right: 0;
  position: fixed;
  margin-top: 15px;
  margin-right: 0px;
}
